*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: Roboto, sans-serif, serif;
}


body {
    height: 100vh;
    line-height: 1.5;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header-link,
ul {
    padding: 0;
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color:#F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}