*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: Roboto, sans-serif, serif;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header, footer, main {
    border: 4px solid red;

}

section {
    border: 4px solid lime;

}

.inner-column {
    border: 4px solid orange;
    padding: 10px;
}





































